.order-list {
  background-color: #DDDDDD;
  width: 100%;
  padding: 10%;
}

#someone-buy {
  position: fixed;
  padding: 10px;
  bottom: 0;
  right: 0;
  width: 300px;
  color: black;
  background-color: white;
  border: 2px solid yellow;
  z-index: 1;
}
